<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cupk.trafficviolationidentificationsystem.repository.TrafficRuleMapper">
    <delete id="deleteRule">
            DELETE FROM traffic_rules
            WHERE rule_id = #{ruleId}
    </delete>

    <select id="findAllViolationTypes" resultType="java.lang.String">
  SELECT DISTINCT violation_type
  FROM traffic_rules
  ORDER BY violation_type
 </select>
 <select id="findAllRules" resultType="edu.cupk.trafficviolationidentificationsystem.dto.TrafficRuleDto">
  SELECT
    rule_id,
    violation_type,
    legal_reference,
    base_fine,
    base_demerit_points
  FROM traffic_rules
  ORDER BY rule_id
</select>
<!-- 查询总数 -->
<select id="countAllRules" resultType="int">
  SELECT COUNT(*) FROM traffic_rules
</select>

<!-- 分页查询 -->
<select id="findRulesByOffsetAndSize" resultType="edu.cupk.trafficviolationidentificationsystem.dto.TrafficRuleDto">
  SELECT
    rule_id,
    violation_type,
    legal_reference,
    base_fine,
    base_demerit_points
  FROM traffic_rules
#   判断不为空才查
  <if test="searchRuleKeyword != null and searchRuleKeyword != ''">
      WHERE violation_type LIKE CONCAT('%', #{searchRuleKeyword}, '%')
      OR legal_reference LIKE CONCAT('%', #{searchRuleKeyword}, '%')
  </if>

  ORDER BY rule_id
  LIMIT #{size} OFFSET #{offset}
</select>

<!-- 新增规则 -->
<insert id="insertRule" parameterType="edu.cupk.trafficviolationidentificationsystem.dto.TrafficRuleDto">
    INSERT INTO traffic_rules (
        violation_type,
        legal_reference,
        base_fine,
        base_demerit_points
    ) VALUES (
        #{violationType},
        #{legalReference},
        #{baseFine},
        #{baseDemeritPoints}
    )
</insert>

<!-- 更新规则 -->
<update id="updateRule" parameterType="edu.cupk.trafficviolationidentificationsystem.dto.TrafficRuleDto">
    UPDATE traffic_rules
    SET
        violation_type = #{violationType},
        legal_reference = #{legalReference},
        base_fine = #{baseFine},
        base_demerit_points = #{baseDemeritPoints}
    WHERE rule_id = #{ruleId}
</update>



</mapper>