<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cupk.trafficviolationidentificationsystem.repository.TrafficRuleMapper">

 <select id="findAllViolationTypes" resultType="java.lang.String">
  SELECT DISTINCT violation_type
  FROM traffic_rules
  ORDER BY violation_type
 </select>
 <select id="findAllRules" resultType="edu.cupk.trafficviolationidentificationsystem.dto.TrafficRuleDto">
  SELECT rule_id, violation_type, base_demerit_points FROM traffic_rules ORDER BY rule_id
 </select>
</mapper>