<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cupk.trafficviolationidentificationsystem.repository.WorkflowNodeAssignmentMapper">

 <insert id="insertAssignment" useGeneratedKeys="true" keyProperty="assignmentId">
  INSERT INTO workflow_node_assignments (node_id, assignment_type, assigned_rank)
  VALUES (#{nodeId}, #{assignmentType}, #{assignedRank})
 </insert>

 <insert id="insertStaticUser">
  INSERT INTO workflow_assignment_users (assignment_id, user_id)
  VALUES (#{assignmentId}, #{userId})
 </insert>

</mapper>