<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cupk.trafficviolationidentificationsystem.repository.WorkflowTriggerMapper">

 <insert id="insertTrigger" useGeneratedKeys="true" keyProperty="triggerId">
  INSERT INTO workflow_triggers (workflow_id, district_id, rule_id, min_demerit_points, priority, is_active)
  VALUES (#{workflowId}, #{districtId}, #{ruleId}, #{minDemeritPoints}, #{priority}, #{isActive})
 </insert>
 <select id="findByWorkflowId" resultType="edu.cupk.trafficviolationidentificationsystem.model.WorkflowTrigger">
  SELECT * FROM workflow_triggers WHERE workflow_id = #{workflowId} LIMIT 1
 </select>

 <delete id="deleteByWorkflowId">
  DELETE FROM workflow_triggers WHERE workflow_id = #{workflowId}
 </delete>
</mapper>