<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cupk.trafficviolationidentificationsystem.repository.WorkflowMapper">

 <insert id="insertWorkflow" useGeneratedKeys="true" keyProperty="workflowId" parameterType="edu.cupk.trafficviolationidentificationsystem.model.Workflow">
  INSERT INTO workflows (workflow_name, description, is_active, created_by)
  VALUES (#{workflowName}, #{description}, #{isActive}, #{createdBy})
 </insert>

</mapper>